    <!-- about section start -->
    {% load static %}
    <section class="about-section slick-between pb-0 ratio_square bg-dark py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-3">
                        <svg class="title-svg">
                            <use
                                xlink:href="{% static 'assets/svg/icons.svg#title-line' %}"></use>
                        </svg>
                        <h2>Our <span>Agent</span></h2>
                        <p class="font-roboto">Elegant retreat in Coral Gables setting. This home provides entertaining spaces with
                            kitchen opening</p>
                    </div>
                    <div class="about-2 about-wrap">
                        <div>
                            <div class="about-content">
                                <div class="about-image">
                                    <div>
                                        <img src="{% static 'assets/images/avatar/4.jpg' %}" class="img-fluid bg-img" alt="">
                                    </div>
                                    <div class="about-overlay"></div>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="https://accounts.google.com/"><img src="{% static 'assets/images/about/icon-1.png' %}" alt=""></a></li>
                                            <li><a href="https://twitter.com/"><img src="{% static 'assets/images/about/icon-2.png' %}" alt=""></a></li>
                                            <li><a href="https://www.facebook.com/"><img src="{% static 'assets/images/about/icon-3.png' %}" alt=""></a></li>
                                        </ul>
                                        <span>Connect</span>
                                    </div>
                                </div>
                                <div class="our-details">
                                    <a href="agent-profile.html"><h6 class="d-flex">Mark Andry <span class="label-heart color-3 ms-2"><i
                                                class="fas fa-heart"></i></span></h6></a>
                                    <h3>Wide Window Realty Group...</h3>
                                    <span class="font-roboto"><i data-feather="mail" class="me-1"></i>John@inspirythemes.com</span>
                                    <p class="font-roboto">How they are connected to neighbouring residences and land. Residences can be classified.</{% static '' %}<a href="agent-profile.html" class="btn btn-solid btn-flat color-3 mt-2"><i data-feather="eye"></i>View Portfolio</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="about-content">
                                <div class="about-image">
                                    <div>
                                        <img src="{% static 'assets/images/avatar/3.jpg' %}" class="img-fluid bg-img" alt="">
                                    </div>
                                    <div class="about-overlay"></div>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="https://accounts.google.com/"><img src="{% static 'assets/images/about/icon-1.png' %}" alt=""></a></li>
                                            <li><a href="https://twitter.com/"><img src="{% static 'assets/images/about/icon-2.png' %}" alt=""></a></li>
                                            <li><a href="https://www.facebook.com/"><img src="{% static 'assets/images/about/icon-3.png' %}" alt=""></a></li>
                                        </ul>
                                        <span>Connect</span>
                                    </div>
                                </div>
                                <div class="our-details">
                                    <a href="agent-profile.html"><h6 class="d-flex">Percy Kewshun <span class="label-heart color-3 ms-2"><i
                                                class="fas fa-heart"></i></span></h6></a>
                                    <h3>Palladian Property Advisors ...</h3>
                                    <span class="font-roboto"><i data-feather="mail" class="me-1"></i>Kewshun@inspirythemes.com</span>
                                    <p class="font-roboto">Residences can be classified by and how they are connected to neighbouring residences and land.</p>
                                    <a href="agent-profile.html" class="btn btn-solid btn-flat color-3 mt-2"><i data-feather="eye"></i>View Portfolio</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="about-content">
                                <div class="about-image">
                                    <div>
                                        <img src="{% static 'assets/images/avatar/2.jpg' %}" class="img-fluid bg-img" alt="">
                                    </div>
                                    <div class="about-overlay"></div>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="https://accounts.google.com/"><img src="{% static 'assets/images/about/icon-1.png' %}" alt=""></a></li>
                                            <li><a href="https://twitter.com/"><img src="{% static 'assets/images/about/icon-2.png' %}" alt=""></a></li>
                                            <li><a href="https://www.facebook.com/"><img src="{% static 'assets/images/about/icon-3.png' %}" alt=""></a></li>
                                        </ul>
                                        <span>Connect</span>
                                    </div>
                                </div>
                                <div class="our-details">
                                    <a href="agent-profile.html"><h6 class="d-flex">Karen Onnabit <span class="label-heart color-3 ms-2"><i
                                                class="fas fa-heart"></i></span></h6></a>
                                    <h3>Sellers or buyers of real property.</h3>
                                    <span class="font-roboto"><i data-feather="mail" class="me-1"></i>Robot@inspirythemes.com</span>
                                    <p class="font-roboto">A real estate agent or broker is a person who represents sellers or buyers advised for property.</p>
                                    <a href="agent-profile.html" class="btn btn-solid btn-flat color-3 mt-2"><i data-feather="eye"></i>View Portfolio</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="about-content">
                                <div class="about-image">
                                    <div>
                                        <img src="{% static 'assets/images/avatar/3.jpg' %}" class="img-fluid bg-img" alt="">
                                    </div>
                                    <div class="about-overlay"></div>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="https://accounts.google.com/"><img src="{% static 'assets/images/about/icon-1.png' %}" alt=""></a></li>
                                            <li><a href="https://twitter.com/"><img src="{% static 'assets/images/about/icon-2.png' %}" alt=""></a></li>
                                            <li><a href="https://www.facebook.com/"><img src="{% static 'assets/images/about/icon-3.png' %}" alt=""></a></li>
                                        </ul>
                                        <span>Connect</span>
                                    </div>
                                </div>
                                <div class="our-details">
                                    <a href="agent-profile.html"><h6 class="d-flex">John David <span class="label-heart color-3 ms-2"><i
                                                class="fas fa-heart"></i></span></h6></a>
                                    <h3>Advised to consult a license real estate </h3>
                                    <span class="font-roboto"><i data-feather="mail" class="me-1"></i>John@inspirythemes.com</span>
                                    <p class="font-roboto">They are responsible for managing employees. A construction foreman leads the work crew.</p>
                                    <a href="agent-profile.html" class="btn btn-solid btn-flat color-3 mt-2"><i data-feather="eye"></i>View Portfolio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end -->