    <!-- banner section start -->
    <section class="banner-section banner-4 parallax-image">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-1 color-6">
                        <span class="label label-gradient color-6">Buy or sell</span>
                    </div>
                    <div class="light-bg banner-1">
                        <span class="big-gradient">*</span>
                        <span class="small-white">*</span>
                        <h6>Sheltos real estate</h6>
                        <h2>Looking to Buy a new property or Sell an existing one?
                            Real Homes provides an easy solution!</h2>
                        <div class="button-banner">
                            <a href="submit-property.html" class="btn btn-gradient color-6">Submit property</a>
                            <a href="portfolio-details.html" class="btn btn-white color-6"> <span>Browse property</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section end -->