    <!-- brand 2 start -->

    {% load static %}
    <section class="small-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="slide-1 brand-slider">
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="{% static 'assets/images/brand/17.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="{% static 'assets/images/brand/18.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="{% static 'assets/images/brand/19.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="{% static 'assets/images/brand/20.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="{% static 'assets/images/brand/21.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="{% static 'assets/images/brand/18.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- brand 2 end -->