{% load static %}
<!-- feature section start -->
    <section class="feature-section bg-comman-2 slick-between">

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="title-2 text-white">
                        <h2>Featured Cities</h2>
                        <p>See why ProCity is one of the best friends for exploring the city.</p>
                    </div>
                    <div class="feature-2 dot-gradient">
                        <div>
                            <div class="feature-box">
                                <img src="{% static 'assets/images/feature/3.jpg' %}" class="img-fluid" alt="">
                                <div class="feature-bottom">
                                    <h3>U.S.A</h3>
                                    <span>10+ Property</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="feature-box">
                                <img src="{% static 'assets/images/feature/4.jpg' %}" class="img-fluid" alt="">
                                <div class="feature-bottom">
                                    <h3>New York</h3>
                                    <span>12+ Property</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="feature-box">
                                <img src="{% static 'assets/images/feature/5.jpg' %}" class="img-fluid" alt="">
                                <div class="feature-bottom">
                                    <h3>England</h3>
                                    <span>16+ Property</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="feature-box">
                                <img src="{% static 'assets/images/feature/6.jpg' %}" class="img-fluid" alt="">
                                <div class="feature-bottom">
                                    <div>
                                        <h3>America</h3>
                                        <span>17+ Property</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="feature-box">
                                <img src="{% static 'assets/images/feature/7.jpg' %}" class="img-fluid" alt="">
                                <div class="feature-bottom">
                                    <div>
                                        <h3>Dubai</h3>
                                        <span>05+ Property</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="feature-box">
                                <img src="{% static 'assets/images/feature/5.jpg' %}" class="img-fluid" alt="">
                                <div class="feature-bottom">
                                    <div>
                                        <h3>England</h3>
                                        <span>15+ Property</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature section end -->