    <!-- property section tab start -->
    {% load static %}
    <section class="property-section bg-comman-2">

        <div class="container">
            <div class="row ratio_55">
                <div class="col">
                    <div class="title-2 text-white">
                        <h2>What Are You Looking For</h2>
                        <p>Discover New York’s best things to do, restaurants, theatre, nightlife and more</p>
                    </div>
                    <ul id="tabs" class="nav nav-tabs">
                        <li class="nav-item"><a href="" data-bs-target="#morden" data-bs-toggle="tab" class="nav-link">Morden
                                Villa</a></li>
                        <li class="nav-item"><a href="" data-bs-target="#family" data-bs-toggle="tab"
                                class="nav-link active">Family House</a></li>
                        <li class="nav-item"><a href="" data-bs-target="#town" data-bs-toggle="tab" class="nav-link">Town
                                House</a></li>
                        <li class="nav-item"><a href="" data-bs-target="#appartment" data-bs-toggle="tab"
                                class="nav-link">Apartment</a></li>
                        <li class="nav-item"><a href="" data-bs-target="#office" data-bs-toggle="tab"
                                class="nav-link">Office</a></li>
                    </ul>
                    <div id="tabsContent" class="tab-content">
                        <div id="morden" class="tab-pane fade">
                            <div class="property-2 row column-space zoom-gallery">
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/1.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>09</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">France</span>
                                            <a href="single-property-8.html">
                                                <h3>Hidden Spring Hideway</h3>
                                            </a>
                                            <h6 class="color-2">$4513.00*</h6>
                                            <p class="font-roboto">An interior designer is someone who plans,researches,coordinates,management and manages such enhancement projects.</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>January 20, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/19.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>25</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">brazil</span>
                                            <a href="single-property-8.html">
                                                <h3>Allen’s Acres Way</h3>
                                            </a>
                                            <h6 class="color-2">$9554.00*</h6>
                                            <p class="font-roboto">This home provides wonderful entertaining spaces with a chef
                                                kitchen opening. Elegant retreat in a quiet Coral Gables setting...</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 3</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 1</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 1000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>January 6, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/18.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>42</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Hidden Spring Hideaway</h3>
                                            </a>
                                            <h6  class="color-2">$6558.00*</h6>
                                            <p class="font-roboto">The most common and most absolute type of estate, the tenant enjoys the greatest discretion over the disposal of the property.</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 5</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 3</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 4500</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>June 20, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="family" class="tab-pane fade active show">
                            <div class="property-2 row column-space zoom-gallery">
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <div class="property-slider">
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/4.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/2.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/3.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/1.jpg' %}" class="bg-img" alt="">

                                                </a>
                                            </div>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>10</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">brazil</span>
                                            <a href="single-property-8.html">
                                                <h3>Merrick in Spring Way</h3>
                                            </a>
                                            <h6  class="color-2">$4513.00*</h6>
                                            <p class="font-roboto">Real estate market in most countries are not as organize or efficient as markets for other, more liquid investment instruments.</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>December 1, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <div class="property-slider">
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/5.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/6.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/7.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/8.jpg' %}" class="bg-img" alt="">

                                                </a>
                                            </div>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>09</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">brazil</span>
                                            <a href="single-property-8.html">
                                                <h3>Allen’s Acres Way</h3>
                                            </a>
                                            <h6 class="color-2">$9554.00*</h6>
                                            <p class="font-roboto">The most common and most absolute type of estate, the tenant enjoys the greatest discretion over the disposal of the property.</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 3</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 1</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 1000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>January 6, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <div class="property-slider">
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/7.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/8.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/1.jpg' %}" class="bg-img" alt="">

                                                </a>
                                                <a href="javascript:void(0)">
                                                    <img src="{% static 'assets/images/property/2.jpg' %}" class="bg-img" alt="">

                                                </a>
                                            </div>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>25</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Hidden Spring Hideaway</h3>
                                            </a>
                                            <h6  class="color-2">$6558.00*</h6>
                                            <p class="font-roboto">This home provides wonderful entertaining spaces with a chef
                                                kitchen opening. Elegant retreat in a quiet Coral Gables setting...</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 5</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 3</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 4500</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>June 20, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="town" class="tab-pane fade">
                            <div class="property-2 row column-space zoom-gallery">
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/8.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>25</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">brazil</span>
                                            <a href="single-property-8.html">
                                                <h3>Passion For Property</h3>
                                            </a>
                                            <h6 class="color-2">$9554.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>July 20, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/7.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>10</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Precious Properties</h3>
                                            </a>
                                            <h6 class="color-2">$5446.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>May 10, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/6.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>42</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">France</span>
                                            <a href="single-property-8.html">
                                                <h3>Property Professionals</h3>
                                            </a>
                                            <h6 class="color-2">$6558.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>Dec 8, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="appartment" class="tab-pane fade">
                            <div class="property-2 row column-space zoom-gallery">
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/10.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>42</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">brazil</span>
                                            <a href="single-property-8.html">
                                                <h3>Perfect Placements</h3>
                                            </a>
                                            <h6 class="color-2">$9775.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>Dec 25, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/5.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>25</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Little Magnolia Ranch</h3>
                                            </a>
                                            <h6 class="color-2">$3225.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>Jan 25, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/6.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>25</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Hidden Spring Hideaway</h3>
                                            </a>
                                            <h6  class="color-2">$6558.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 5</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 3</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 4500</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>June 20, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="office" class="tab-pane fade">
                            <div class="property-2 row column-space zoom-gallery">
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/7.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>42</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Merrick in Spring Way</h3>
                                            </a>
                                            <h6 class="color-2">$3225.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>Jan 25, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/2.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>09</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">France</span>
                                            <a href="single-property-8.html">
                                                <h3>Property Professionals</h3>
                                            </a>
                                            <h6 class="color-2">$6558.00*</h6>
                                            <p class="font-roboto">Elegant retreat in a quiet Coral Gables setting. This
                                                home provides wonderful entertaining spaces with a chef
                                                kitchen opening…</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 4</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>Dec 8, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="property-box">
                                        <div class="property-image">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'assets/images/property/3.jpg' %}" class="bg-img" alt="">
                                            </a>
                                            <div class="labels-left">
                                                <div>
                                                    <span class="label label-shadow">sale</span>
                                                </div>
                                            </div>
                                            <div class="seen-data">
                                                <i data-feather="camera"></i>
                                                <span>10</span>
                                            </div>
                                            <div class="overlay-property-box">
                                                <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                                    <i data-feather="shuffle"></i>
                                                </a>
                                                <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="property-details">
                                            <span class="font-roboto">usa</span>
                                            <a href="single-property-8.html">
                                                <h3>Hidden Spring Hideaway</h3>
                                            </a>
                                            <h6  class="color-2">$6558.00*</h6>
                                            <p class="font-roboto">This home provides wonderful entertaining spaces with a chef
                                                kitchen opening. Elegant retreat in a quiet Coral Gables setting...</p>
                                            <ul>
                                                <li><img src="{% static 'assets/images/svg/icon/double-bed.svg' %}" class="img-fluid" alt="">Bed : 5</li>
                                                <li><img src="{% static 'assets/images/svg/icon/bathroom.svg' %}" class="img-fluid" alt="">Baths : 3</li>
                                                <li><img src="{% static 'assets/images/svg/icon/square-ruler-tool.svg' %}" class="img-fluid ruler-tool" alt="">Sq Ft : 4500</li>
                                            </ul>
                                            <div class="property-btn d-flex">
                                                <span>June 20, 2022</span>
                                                <button type="button"  onclick="document.location='single-property-8.html'" class="btn btn-dashed btn-pill color-2">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- property section tab end -->