    <!--our new offer section start -->
    {% load static %}
    <section class="offer-section banner-section banner-4 slick-between ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-1 text-white">
                        <span class="label label-gradient color-6">New Offer</span>
                        <h2>Our New Offer</h2>
                        <hr>
                    </div>
                    <div class="offer-slider">
                        <div>
                            <div class="offer-wrapper">
                                <div class="media">
                                    <div class="offer-icon">
                                        <img src="{% static 'assets/images/others/icon-1.png' %}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h6>Sheltos</h6>
                                        <h3>Looking for the new home?</h3>
                                        <p>10 new offers every day. 350 offers on site, trusted
                                            by a community of thousands of users.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="offer-wrapper">
                                <div class="media">
                                    <div class="offer-icon">
                                        <img src="{% static 'assets/images/others/icon-2.png' %}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h6>Sheltos</h6>
                                        <h3>Are you looking for home?</h3>
                                        <p>350 offers on site, trusted by a community of thousands of users. 10 new offers every day. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="offer-wrapper">
                                <div class="media">
                                    <div class="offer-icon">
                                        <img src="{% static 'assets/images/others/icon-1.png' %}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h6>Sheltos</h6>
                                        <h3>Looking for the new Office?</h3>
                                        <p>10 new offers every day. 350 offers on site, trusted
                                            by a community of thousands of users.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our new offer section end -->