    <!-- property section start -->
    {% load static %}





    <section class="property-section slick-between slick-shadow property-color-6">
        <div class="container">
            <div class="row ratio_landscape">
                <div class="col">
                    <div class="title-1 color-6">
                        <span class="label label-gradient color-6">Sale</span>
                        <h2>Latest For Sale</h2>
                        <hr>
                    </div>
                    <div class="listing-hover-property row">
                {% if allProduct %}
                 {% for product in allProduct %}
                     <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'assets/images/others/1.jpg' %}" class="bg-img" alt="">
                                        <div class="labels-left">
                                            <span class="label label-shadow">Sale</span>
                                        </div>
                                    </a>
                                    <div class="bottom-property">
                                        <div class="d-flex">
                                            <div>
                                                <h5><a href="single-property-6.html">{{ product.name }}</a></h5>
                                                <h6>${{ product.price }}<small>/ start from</small></h6>
                                            </div>
                                            <button type="button" class="btn btn-gradient color-6 mt-3" onclick="document.location='single-property-8.html'">Details</button>
                                        </div>
                                        <div class="overlay-option">
                                            <ul>
                                                <li>
                                                    <span>Beds</span>
                                                    <h6>2</h6>
                                                </li>
                                                <li>
                                                    <span>Baths</span>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <span>Balcony</span>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <span>Area</span>
                                                    <h6>120m<sup>2</sup></h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                {% endfor %}
                {% endif %}








{#                        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">#}
{#                            <div class="property-box">#}
{#                                <div class="property-image">#}
{#                                    <a href="javascript:void(0)">#}
{#                                        <img src="{% static 'assets/images/1.jpg' %}" class="bg-img" alt="">#}
{#                                        <div class="labels-left">#}
{#                                            <div>#}
{#                                                <span class="label label-dark">no fees</span>#}
{#                                            </div>#}
{#                                            <span class="label label-success">open house</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <div class="bottom-property">#}
{#                                        <div class="d-flex">#}
{#                                            <div>#}
{#                                                <h5><a href="single-property-6.html">Orchard House</a></h5>#}
{#                                                <h6>$14,520 <small>/ start from</small></h6>#}
{#                                            </div>#}
{#                                            <button type="button" class="btn btn-gradient color-6 mt-3" onclick="document.location='single-property-8.html'">Details</button>#}
{#                                        </div>#}
{#                                        <div class="overlay-option">#}
{#                                            <ul>#}
{#                                                <li>#}
{#                                                    <span>Beds</span>#}
{#                                                    <h6>2</h6>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Baths</span>#}
{#                                                    <h6>1</h6>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Balcony</span>#}
{#                                                    <h6>2</h6>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Area</span>#}
{#                                                    <h6>480m<sup>2</sup></h6>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">#}
{#                            <div class="property-box">#}
{#                                <div class="property-image">#}
{#                                    <a href="javascript:void(0)">#}
{#                                        <img src="{% static 'assets/images/3.jpg' %}" class="bg-img" alt="">#}
{#                                        <div class="labels-left">#}
{#                                            <span class="label label-shadow">Sold</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <div class="bottom-property">#}
{#                                        <div class="d-flex">#}
{#                                            <div>#}
{#                                                <h5><a href="single-property-6.html">Sea Breezes</a></h5>#}
{#                                                <h6>$12,200 <small>/ start from</small></h6>#}
{#                                            </div>#}
{#                                            <button type="button" class="btn btn-gradient color-6 mt-3" onclick="document.location='single-property-8.html'">Details</button>#}
{#                                        </div>#}
{#                                        <div class="overlay-option">#}
{#                                            <ul>#}
{#                                                <li>#}
{#                                                    <span>Beds</span>#}
{#                                                    <h6>2</h6>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Baths</span>#}
{#                                                    <h6>1</h6>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Balcony</span>#}
{#                                                    <h6>0</h6>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Area</span>#}
{#                                                    <h6>220m<sup>2</sup></h6>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- property section end -->