    <!-- testimonial section start -->
    {% load static %}
    <section class="pb-0 testimonial-style-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-3">
                        <svg class="title-svg">
                            <use
                                xlink:href="{% static 'assets/svg/icons.svg#title-line' %}"></use>
                        </svg>
                        <h2>Our <span>Client</span></h2>
                        <p class="font-roboto">Residences can be classified into different type of housing tenure can used for same physical type.</p>
                    </div>
                    <div class="testimonial-3 modern-dot">
                        <div>
                            <div class="row our-client">
                                <div class="col-md-6">
                                    <div class="client-left">
                                        <img src="{% static 'assets/images/testimonial/3.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="client-right">
                                        <p class="font-roboto">
                                            Luxury real estate is sometimes use as store value. Some luxury units in London and New York City.  Residences can be classified by
                                            and how they are connected to neighbouring residences and land. Different types of housing tenure can be used for
                                            the same physical type. Residences can be classified by and how they are connected to neighbouring residences and land. </p>
                                        <ul class="client-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>

                                        <h3>Wes Yabinlatelee</h3>
                                        <h6>Our Customer</h6>
                                        <span class="quote-img">
                                            <img src="{% static 'assets/images/testimonial/quote-2.png' %}" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row our-client">
                                <div class="col-md-6">
                                    <div class="client-left">
                                        <img src="{% static 'assets/images/testimonial/2.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="client-right">
                                        <p class="font-roboto"> Housing tenure can be used for the same physical type. Residences can be classified by and how they are connected to neighbouring residences and land. Different types of housing tenure can be used for the same physical type. Residences can be classified by and how they are connected to neighbouring residences and land. </p>
                                        <ul class="client-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>

                                        <h3>Mark Enderess</h3>
                                        <h6>Our Customer</h6>
                                        <span class="quote-img">
                                            <img src="{% static 'assets/images/testimonial/quote-2.png' %}" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row our-client">
                                <div class="col-md-6">
                                    <div class="client-left">
                                        <img src="{% static 'assets/images/avatar/8.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="client-right">
                                        <p class="font-roboto"> Different types of housing tenure can be used for the same physical type. Residences can be classified by and how they are connected to neighbouring residences and land. Residences can be classified by and how they are connected to neighbouring residences and land. Different types of housing tenure can be used for the same physical type. </p>
                                        <ul class="client-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>

                                        <h3>Isabelle Ringing</h3>
                                        <h6>Our Customer</h6>
                                        <span class="quote-img">
                                            <img src="{% static 'assets/images/testimonial/quote-2.png' %}" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row our-client">
                                <div class="col-md-6">
                                    <div class="client-left">
                                        <img src="{% static 'assets/images/testimonial/2.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="client-right">
                                        <p class="font-roboto">Residences can be classified by and how they are connected to neighbouring residences and land. Different types of housing tenure can be used for the same physical type. Residences can be classified by and how they are connected to neighbouring residences and land. Different types of housing tenure can be used for the same physical type. </p>
                                        <ul class="client-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>

                                        <h3>Lynn O’Leeum</h3>
                                        <h6>Our Customer</h6>
                                        <span class="quote-img">
                                            <img src="{% static 'assets/images/testimonial/quote-2.png' %}" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row our-client">
                                <div class="col-md-6">
                                    <div class="client-left">
                                        <img src="{% static 'assets/images/avatar/8.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="client-right">
                                        <p class="font-roboto">The content Bianca developed for our new website was exactly what we needed. From key messages for the homepage, to product features and targeted case studies, the content really helps sell our product</p>
                                        <ul class="client-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>

                                        <h3>Mark Enderess</h3>
                                        <h6>Our Customer</h6>
                                        <span class="quote-img">
                                            <img src="{% static 'assets/images/testimonial/quote-2.png' %}" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end -->