{% extends 'includes/master.html' %}

{% block content %}
{% load static %}
    <!-- home section start -->
    {% include 'frontend/partials/homeSection.html' %}
    <!-- home section end -->

    <!-- property section start -->
    {% include 'frontend/partials/propertySection.html' %}
    <!-- property section end -->

    <!-- property latest section start -->
    {% include 'frontend/partials/latestProperty.html' %}
    <!-- property latest section end -->

    <!-- feature section start -->
    {% include 'frontend/partials/featureSection.html' %}
    <!-- feature section end -->

    <!-- find properties section start -->
    {% include 'frontend/partials/findProperty.html' %}
    <!-- find properties section end -->

    <!--our new offer section start -->
    {% include 'frontend/partials/newOffer.html' %}
    <!--our new offer section end -->



    <!-- banner section start -->
    {% include 'frontend/partials/bannerSection.html' %}
    <!-- banner section end -->

    <!-- about section start -->
    {% include 'frontend/partials/aboutSection.html' %}
    <!-- about section end -->

    <!-- testimonial section start -->
    {% include 'frontend/partials/testimonial.html' %}
    <!-- testimonial section end -->

    <!-- brand 2 start -->
    {% include 'frontend/partials/brandSection.html' %}
    <!-- brand 2 end -->

{% endblock %}